input{
    padding: 10px;
    margin: 5px;
    font-size: large;
    text-transform: capitalize;
    border-radius: 5px;
    color: white;
    border-color: blue;
    background-color: black;
}
label{
  color:  #004d00;
  font-weight: bold;
}
.main{
    text-align: center;
    text-transform: capitalize;
    background-color: lightblue;
}
.button{
  text-align: center;
}
button{
    width: 200px;
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
    background-color: black;
    border-color: blue;
    color: white;
}
button:hover{
    background-color: blue;
}
input:hover{
    background-color: #809fff;
}
.head{
    font-size: 20px;
    color: aliceblue;
    background-color: black;
}
p{
    margin-left: 200px;
    margin-bottom: px;
}
footer{
  font-weight: bold;
  color: blue;
}
